.settings-dead-zone_element-body{
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $light-gray;
}

.settings-dead-zone_element-body:first-of-type{
  margin-top: 30px;
}

.settings-dead-zone_element-body-icon{
  color: lighten($primary-color, 10);
  background: lighten($primary-color, 35);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-family: Roboto-Bold;
  font-size: 14px;
  vertical-align: middle;
  text-align: center;
}

.settings-dead-zone_element-body-icon>span{
  position: relative;
  top: 1px;
}

.settings-dead-zone_element-body-name{
  font-size: 14px;
  margin-left: 10px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden; 
  text-overflow: ellipsis;
  width:90px;
}

.settings-dead-zone_element-body-name:hover{
  color: $primary-color;
}

.settings-dead-zone_element-body-start,
.settings-dead-zone_element-body-end{
  width: 40px;
  font-size: 14px;
  margin-left: 30px;
}

.settings-dead-zone_element-body-time{
  display: flex;
  align-items: center;
}


.settings-dead-zone_element-body-start-titel,
.settings-dead-zone_element-body-end-titel{
  font-family: Roboto-Light;
  position: relative;
  left: -2px;
  color: $gray;
  font-size: 10px;
}

.settings-dead-zone_element-body-checker{
  // margin-left: 
  // float: right;
  margin-left: 70px;
}