.dead-zone_element-body{
  width: 500px;
  border-radius: 5px;
  margin-top: 15px;
  background: #ffffff;
  box-shadow: 0px 1px 10px -5px rgba(0,0,0,0.5);
  height: 50px;
  font-family: Roboto-Regular;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.dead-zone_element-body-icon{
  color: lighten($primary-color, 10);
  background: lighten($primary-color, 35);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-family: Roboto-Bold;
  font-size: 14px;
  vertical-align: middle;
  text-align: center;
}

.dead-zone_element-body-icon>span{
  position: relative;
  top: 1px;
}

.dead-zone_element-body-name{
  font-size: 14px;
  margin-left: 10px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden; 
  text-overflow: ellipsis;
  width:90px;
}

.dead-zone_element-body-name:hover{
  color: $primary-color;
}

.dead-zone_element-body-name.active{
  color:$gray;
}

// Week
.dead-zone_element-week{
  width: 35px;
  display: flex;
  justify-content: space-around;
}

.dead-zone_element-week-item{
  width: 2px;
  background:#a087ff;
  height: 14px;
}

.dead-zone_element-week-item.disable{
  background: $light-gray !important;
}
// Time


.dead-zone_element-body-start,
.dead-zone_element-body-end{
  width: 40px;
  font-size: 14px;
  margin-left: 70px;
}

.dead-zone_element-body-start{
  margin-left: 0px;
}

.dead-zone_element-body-time{
  display: flex;
  align-items: center;
}


.dead-zone_element-body-start-titel,
.dead-zone_element-body-end-titel{
  font-family: Roboto-Light;
  position: relative;
  left: -2px;
  color: $gray;
  font-size: 10px;
}

.dead-zone_element-body-checker{
  margin-left: 70px;
}