<div>
 <div class="dead-zone_element-body">
  
    <div class="dead-zone_element-body-name"
          v-on:click="click"
          v-bind:class="(active?'active': '')">
      {{zone.name}}
    </div>
    <!-- <div class="dead-zone_element-week">
      <div v-for="(item, index) in [0,0,0,0,0,0,0]"
        class="dead-zone_element-week-item"
        v-bind:class="( isDiactivate(index) ?'':'disable')">
      </div>
    </div> -->
    <div class="dead-zone_element-body-time">
      <div class="dead-zone_element-body-start">
        <span class="dead-zone_element-body-start-titel">
          Start
        </span>
        <span>{{time.start}}</span>
      </div>

      <div class="dead-zone_element-body-end">
        <span class="dead-zone_element-body-end-titel">
          End
        </span>
        <span>{{time.end}}</span>
      </div>
    </div>
    <div class="dead-zone_element-body-checker">
      <check-box />
    </div>
  </div>

  <editor-component v-if="active"
      v-bind:zone="zone"
      v-bind:timme="time"/>
</div>