.snackbar{
  margin: 5px 0px;

  width: 500px;
  border-radius: 5px;
  background: #ffffff;
  margin-bottom: 15px;
  box-shadow: 0px 1px 10px -5px rgba(0, 0, 0, 0.5);
  font-family: Roboto-Regular;
  display: flex;
  flex-direction: column;
  position: relative;

  display: flex;
  height: 46px;
  margin-top: 2px;
  padding: 0px 10px;
  justify-content: center;

}

.snackbar__text{
  color:#B2B2B2;
  width: 50%;
}