.settingsContentWrapper{
  width: 100%;
}

.settings_content{
}

.settings-body__header{
  
  font-size: 20px;
}

.settings-body__wrapper{
  font-family: Roboto-Light;
  padding: 15px;
  padding-top: 10px;
}

.settings-body__row{
  display: block;
  width: 100%;
  margin: 25px 0px;
  color: $gray;
}

.settings-body__action{
  color: $primary-color;
  text-decoration: underline;
  cursor: pointer;
}

.settings-body__action:hover{
  color: lighten($primary-color, 10);

}

.settings-body__value{
  font-size: 18px;
  color: #000000;
}