.settingsContentWrapper{
  width: 100%;
  padding: 0px 10px;
  display: inline;
}

.settings_content{
}

.settings-body__header{
  
  font-size: 20px;
}

.settings-body__wrapper{
 
}

.settings-body__row{
  font-family: Roboto-Light;
  display: block;
  // width: 100%;
  margin: 20px 0px;
  color: $gray;
  padding: 0px 20px;
}

.settings-body__action{
  color: $primary-color;
  text-decoration: underline;
  cursor: pointer;
}

.settings-body__action:hover{
  color: lighten($primary-color, 10);

}

.settings-body__value{
  font-size: 18px;
  color: #000000;
}

.setting-body__subtitle{
  font-family: Roboto-Light;
  display: block;
  margin-top: 50px;
  color:rgba(0,0,0,0.75);
  padding: 0px 20px;
}

.settings__help{
  display: inline;
  float: right;
  margin-right: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-top: 3px;
}

.settings__help:hover{
  opacity: 0.6;
}

.settings__help>svg{
  width: 18px;
  height: 18px;
  path{
    fill: lighten($primary-color,10) !important;
  }
}