<div class="routines-routine" :key="key">
  <div class="routines-routine__name-wrapper">
      <div class="routines-routine__name"
        @click="click"
        v-bind:style="{color: currentColor.active_color}">
      {{this.$props.routine.name}}
    </div>
    <div class="routines-routine__describe">{{this.$props.routine.describe}}</div>
    <div class="routines-routine__hours">
      {{this.$props.routine.hours+"h"}}
    </div>
    <graph-min
      v-bind:stat="this.$props.routine.hoursSpended"
      v-bind:color="currentColor"
      v-bind:routineID="this.$props.routine.ID"
    />
    <div class="routines-routine__settings"
          v-html="settingsIcon" 
          v-on:click="settings"/>
  </div>
  <routine-stat-graph-panel
    v-if="currRoutine == this.$props.routine.ID"
    v-bind:stat="this.$props.routine.hoursSpended"
    v-bind:color="currentColor"
    v-bind:hoursPerWeek="this.$props.routine.hours"
    v-bind:routineID="this.$props.routine.ID"
  />
  <div class="routine-down-line__wrapper" >
    <div 
      v-bind:style="{background: currentColor.active_color, width: downline()+'%', height: 2}"></div>
  </div>
  
</div>