.close_button{
  width: 15px;
  height: 15px;
  left: calc(50vw + 300px);
  top: calc(50vh - 220px);
  position: absolute;
  padding: 4px;
  border-radius: 50%;
  background: $primary-color;
  fill: #ffffff;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  background: $primary-color;
  transition: background, box-shadow 0.2s;
  box-shadow: 0px 0px 12px 1px lighten($primary-color, 10);
}

.close_button>svg{
  width: 10px;
  height: 10px;
  position: relative;
  top: -2px;
}

.close_button:hover{
  box-shadow: 0px 0px 6px 0px lighten($primary-color, 10);
}

.close_button:active{
  box-shadow: none;
  background: lighten($primary-color, 5);
  box-shadow: 0px 0px 3px 0px lighten($primary-color, 20);

}