<div class="modal-new_routin-wrapper">
  <div>
    <input type="text" class="modal-new_routine-name"
          placeholder="Name">
  </div>
  <div>
    <input type="text" class="modal-new_routine-description"
            placeholder="Description">
  </div>
  <div class="modal-new_routine-slider_wrapper">
    <div class="modal-new_routine-hours_wrapper">
      <div class="modal-new_routine-hours_up">7</div>
      <div class="modal-new_routine-hours_down">h/week</div>
    </div>
    <slider-component/>
  </div>
  <div>
    <div>
      type
    </div>
    <div>
      link
    </div>
    <div>
      change
    </div>
  </div>
  <div>
    <div>Del</div>
    <div>Save</div>
  </div>
</div>