.now-body{
  width: 100vw;
  height: calc(100vh - 42px);
  overflow-y: auto; 
}

.now-wrapper{
  width: 500px;
  margin: auto;
  display: flex;
}

// Time
.now-time__line{
  // padding-top: 70px;
  width: 40px;
}

.now-hour{
  line-height: 3;
  height: 108px;
  font-family: Roboto-Regular;
  font-size:  12px;
  color: $gray;
}




.now-hour:nth-of-type(1){
  margin-top: 35px;
}
// Main Schedule

.now-schedule__main{
  width: 370px;
  display: inline-block;
  margin-left: 50px;
}

.now-separator{
  width: 350px;
  height: 1px;
  background: $light-gray;
  margin-top: 106.9px;
}

.now-separator:first-of-type{
  margin-top:145px;
}
// Current Tasks

.now-current__tasks{
  width: 250px;
  position: relative;
  left: -340px;
  padding-top: 30px;
}

// Current Time

.now-current__time{
  font-family: Roboto-Regular;
  font-size:  12px;
  color: $primary-color;
  display: flex;
  align-items: center;
  height: 20px;
  position: relative;
  left: -330px;
}

.now-current__time-line{
  width: 80px;
  height: 1px;
  display: inline-block;
  background:$primary-color
}

.now-current__time-value{
  margin-left: 50px;
}