.modal-routin-wrapper{

}


.drawer-routine-input>span{
  font-size: 12px;
}

.drawer-routine-color>span{
  font-size: 12px;
}

.drawer-routines-hours-caption{
  color: $gray;
  width: 100%;
  text-align: center;
  margin-top: 5px;
  font-size: 12px;
}