<div>
  <div 
    class="drawer"
    v-bind:class="[!this.drawer ?'':'active']">
    <settings-component 
      v-if="this.drawerContent == 1" 
      class="modal_body"/>
    <routine-component 
      v-if="this.drawerContent == 2" 
      class="modal_body"
      v-bind:routineID="-1"/>
    <routine-component 
      v-if="this.drawerContent == 3" 
      class="modal_body"
      v-bind:routineID="this.currentRoutine"
    />
  </div>
  <div
    class="drawer-wrapper"
    v-bind:class="[!this.drawer ?'':'active']"
    v-on:click="close"
  >

  </div>
</div>
