.settings-menu__body{
  width: 160px;
  display: inline-block;
  user-select: none;
  background: lighten($light-gray, 6);
  padding: 20px 0px 0px 15px;
  border-radius: 5px 0px 0px 5px;
}

.settings-menu__active-tab,
.settings-menu__tab{
  margin-top: 10px;
  cursor: pointer;
  height: 20px;
  font-size :18px;
}

.settings-menu__tab{
  font-family: Roboto-Regular;
  font-size: 18px;
  color: $light-gray;
  transition: 0.2s;
}
.settings-menu__tab:hover{
  color: #000000 ;
}

