.settings-dead_zones-editor-body{
  width: 350px;
  height: 160px;
  overflow: hidden;
  background: $light-gray;
  box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.settings-dead_zones-editor-up,
.settings-dead_zones-editor-down{
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.settings-dead_zones-editor-up-start{
  margin-left: -30px;
}

.settings-dead_zones-editor-up-start{
  margin-left: -30px;
}

.settings-dead_zones-editor-up-end{
  margin-right: -30px;
}

.settings-dead_zones-editor-up-name{
  font-family: Roboto-Regular;
  font-size: 10px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.settings-dead_zones-editor-up-value{
  font-family: Roboto-Bold;
  font-size: 16px;
  margin-top: 10px;
  width: 50px;
  text-align: center;
  display: block;
  line-height: 0.5;
}

.settings-dead_zones-editor-up-input{
  width: 100px;
}

.settings-dead_zones-editor-up-input>span{
  font-size: 10px;
  color: $gray;
}

.settings-dead_zones-editor-up-input>input{
  width: 100px;
  border: 0px;
  border-bottom: 1px solid $gray;
  background: $light-gray;
  outline: none;
}

// Circles

.settings-dead_zones-editor-down_circle-left{
  position: relative;
  left: -55px;
  top: 10px;
}

.settings-dead_zones-editor-down_circle-right{
  position: relative;
  left: 55px;
  top: 10px;
}

// Circle Cursors

.settings-dead_zones-editor-down_circle-cursor-left,
.settings-dead_zones-editor-down_circle-cursor-right{
  width: 1px;
  height: 15px;
  background:lighten($gray,15);
  position: absolute;
  z-index: 999;
}

.settings-dead_zones-editor-down_circle-cursor-left{
  left: 128px;
    top: 30px;
    transform: rotate(235deg);
}

.settings-dead_zones-editor-down_circle-cursor-right{
  right: 130px;
    top: 35px;
    transform: rotate(120deg);
}