<div class="routines-routines__body">
  <div class="routines-wrapper">
    <div>
        <input type="text" class="routines-search__input"
               placeholder="Search..." v-model="searchRequest"/>
        <div v-html="searchIcon"
              class="search-icon"></div>
    </div>
    <routine-component v-for="routine in routines" v-bind:routine="routine"
      v-if="routine.name.toLowerCase().includes(searchRequest.toLowerCase()) && loaded"/>
  </div>
  <new-button
    v-bind:tooltipText="tooltipText"
    v-bind:click="newRoutine"
    v-bind:tooltipPosition="tooltipPosition"
  />  
  <free-hours/>
</div>