// Task Routine
.task-task__routine{
  user-select: none;
  width: 250px;
  border-radius: 0px 5px 5px 0px;
  height: 95px;
  // margin: 10px 0px;
  position: relative;
  top: 10px;
}

.task-task__routine-header{
  cursor: default;
  height: 30px;
  font-family: Roboto-Regular;
  padding: 10px 5px;
  padding-bottom: 0px;
}

.task-task__routine-header__name{
  display: inline-block;
  font-size: 18px;
}

.task-task__routine-header__time{ 
  display: inline-block; 
  font-size: 10px;
  float: right;
  padding-top: 5px;
  font-family: Roboto-Bold;

}

.task-task__routine-describe{
  font-family: Roboto-Regular;
  font-size: 11px;
  width: 180px;
  padding-left: 5px;
  min-height: calc(100% - 40px);
  height: auto !important;
  height: calc(100% - 40px);
  margin: 0 3px -20px; 
}

.task-task__routine-action{
  padding-left: 5px;
  width: max-content;
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
  height: 20px;
  font-family: Roboto-Regular;
}

// Task Routine Current Active

.task-task__routine-active{
  user-select: none;
  width: 250px;
  border-radius: 5px;
  height: 95px;
  position: relative;
  top: 10px;
  --box-shadow-color: palegoldenrod;
  box-shadow: 0px 2.5px 10px 0px var(--box-shadow-color);
}

.task-task__routine-active>.task-task__routine-header{
  color: #ffffff;
}

.task-task__routine-active>.task-task__routine-describe{
  color: #ffffff;
  opacity: 0.5;
}
.task-task__routine-active>.task-task__routine-action{
  color: #ffffff;
  opacity: 0.8;
}

// Dead Zone
.task-dead__zone{
  user-select: none;
  width: 250px;
  height: 95px;
  //margin: 13.9px 0px;
  background: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0) 53.9%,
    $light-gray 49.9%, $light-gray 60%,
    rgba(0, 0, 0, 0) 60% ),
    linear-gradient(45deg, $light-gray 10%,
    rgba(0, 0, 0, 0) 10% );
  background-size: 1em 1em;
  font-family: Roboto-Regular;
  font-size: 16px;
  // height		: 100px;
  line-height	: 94px;
  padding-left: 8px;
}