<div>
  <div v-if="isItTask && !currentActiveTask" class="task-task__routine"
        v-bind:style="wrapperStyle"> 
    <div class="task-task__routine-header">
      <div class="task-task__routine-header__name"
           v-bind:style="{ color: curentColor.active_color}"
      >{{this.$props.task.name}}</div>
      <div class="task-task__routine-header__time"
            v-bind:style="{ color: curentColor.active_color}">
        {{taskStart+"-"+taskDone}}
      </div>
    </div>
    <div class="task-task__routine-describe"
        v-bind:style="{ color: curentColor.average_color}">{{describe}}</div>
  </div>

  <div v-if="isItTask && currentActiveTask" class="task-task__routine-active"
        v-bind:style="wrapperStyle"> 
    <div class="task-task__routine-header">
      <div class="task-task__routine-header__name"
         >{{this.$props.task.name}}
      </div>
      <div class="task-task__routine-header__time"
            >
        {{taskStart+"-"+taskDone}}
      </div>
    </div>
    <div class="task-task__routine-describe"
    >{{describe}}
    </div>
  </div>


  <div v-if="!isItTask" class="task-dead__zone">
    {{this.$props.task}}
  </div>


</div>

