.week{
  width: 215px;
  display: flex;
  margin: auto;
  margin-top: 10px;
  justify-content: center;
}

.dead_zone_editor_week_day{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: #ffffff;
  text-align: center;
  
  cursor: pointer;
  margin-left: 10px;
  font-size: 10px;
  margin: auto;
  padding-right: 2px;
  line-height: 2;
  // background: lighten($primary-color, 20);
  // box-shadow: 0px 0px 1px 1px rgba(0,0,0,.1)

  text-decoration: none;
  border-width: 2px 0;
  border-style: solid none;
  border-color: #a087ff #000 #8D6EFF;
  border-radius: 6px;
  background: linear-gradient(#a087ff, #8D6EFF) #8D6EFF;
  transition: 0.2s;
}

.dead_zone_editor_week_day.diactivate{
  // background: lighten($gray, 15);
  opacity: 0.4;
  // background: linear-gradient(#d0c4ff, #8D6EFF) #8D6EFF;
}
