.settings-switch-time-wrapper{
  position: relative;
  top: 15px;
}

.settings-switch-time-zone-body,
.settings-switch-time-zone-body-dark{
  transition: 0.2s ease-in-out;
  cursor: pointer;
  width: 16px;
  height: 38px;
  background: lighten($gray, 15);
  border-radius: 7.5px;
}

.settings-switch-time-zone-body-dark{
  background: lighten($primary-color, 15);
}

.settings-switch-time-zone-body>span,
.settings-switch-time-zone-body-dark>span{
  font-size: 7px;
  width: 15px;
  padding-top: 5px;
  height: 14px;
  display: block;
  text-align: center;
}

.settings-switch-time-zone-body>span:nth-of-type(1){
  color: $light-gray;
}
.settings-switch-time-zone-body>span:nth-of-type(2){
  color:$primary-color;
}

.settings-switch-time-zone-body-dark>span:nth-of-type(1){
  color: $light-gray;
}
.settings-switch-time-zone-body-dark>span:nth-of-type(2){
  color:$light-gray;
}

.settings-switch-time-zone-slider,
.settings-switch-time-zone-slider-dark{
  cursor: pointer;
  font-size: 8px;
  width: 18px;
  text-align: center;
  line-height: 2.3;
  position: relative;
  color: $gray;
  height: 18px;
  border-radius: 50%;
  top: -17px;
  left: -1px;
  transition: 0.2s ease-in-out;
  background: #ffffff;
}

.settings-switch-time-zone-slider-dark{
  background: $primary-color;
  color: #ffffff;
  top: -38px;
}