/* @font-face {
    font-family: Helvetica-Light;
    src: url(../res/fonts/HelveticaLight/HelveticaLight.ttf); 
}
@font-face {
    font-family: Helvetica-Medium; 
    src: url(../res/fonts/HelveticaMedium/HelveticaMedium.ttf); 
}
@font-face {
    font-family: Helvetica-Regular; 
    src: url(../res/fonts/HelveticaRegular/HelveticaRegular.ttf); 
} */

@font-face {
  font-family: Roboto-Light;
  src: url(./res/fonts/Roboto/Roboto-Light.ttf); 
}
@font-face {
  font-family: Roboto-Medium; 
  src: url(./res/fonts/Roboto/Roboto-Medium.ttf); 
}
@font-face {
  font-family: Roboto-Regular; 
  src: url(./res/fonts/Roboto/Roboto-Regular.ttf); 
}
@font-face {
  font-family: Roboto-Bold; 
  src: url(./res/fonts/Roboto/Roboto-Bold.ttf); 
}

body{
	background: #f9f9f9;
  margin: 0px;
  font-family: Roboto-Regular;
  user-select: none;
  cursor: default
}

/* Scrollbar */

.vb > .vb-dragger {
  z-index: 5;
  width: 12px;
  right: 0;
}

.vb > .vb-dragger > .vb-dragger-styler {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: rotate3d(0,0,0,0);
  transform: rotate3d(0,0,0,0);
  -webkit-transition:
      background-color 100ms ease-out,
      margin 100ms ease-out,
      height 100ms ease-out;
  transition:
      background-color 100ms ease-out,
      margin 100ms ease-out,
      height 100ms ease-out;
  background-color: rgba(95, 47, 225, .1);
  margin: 5px 5px 5px 0;
  border-radius: 20px;
  height: calc(100% - 10px);
  display: block;
}

.vb.vb-scrolling-phantom > .vb-dragger > .vb-dragger-styler {
  background-color: rgba(95, 47, 225,.3);
}

.vb > .vb-dragger:hover > .vb-dragger-styler {
  background-color: rgba(95, 47, 225,.5);
  margin: 0px;
  height: 100%;
}

.vb.vb-dragging > .vb-dragger > .vb-dragger-styler {
  background-color: rgba(95, 47, 225,.5);
  margin: 0px;
  height: 100%;
}

.vb.vb-dragging-phantom > .vb-dragger > .vb-dragger-styler {
  background-color: rgba(95, 47, 225,.5);
}

/* Buttons */

.button-rec{
  text-align: center;
  display: inline-block;
  cursor: pointer;
  margin-left: 10px;
  font-size: 10px;
  margin: auto;
  padding-right: 2px;
  line-height: 2;

  text-decoration: none;
  border-width: 2px 0;
  border-style: solid none;
  border-color: #a087ff #000 #8D6EFF;
  border-radius: 6px;
  background: linear-gradient(#a087ff, #8D6EFF) #8D6EFF;
  transition: 0.2s;
}

.button-rec:active{
  opacity: 0.4;
}

.lds-ripple {
  display: inline-block;
  position: absolute;
  top: calc(50vh - 32px);
  left: calc(50vw - 32px);
  width: 64px;
  height: 64px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #8D6EFF;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}
