/* @font-face {
    font-family: Helvetica-Light;
    src: url(../res/fonts/HelveticaLight/HelveticaLight.ttf); 
}
@font-face {
    font-family: Helvetica-Medium; 
    src: url(../res/fonts/HelveticaMedium/HelveticaMedium.ttf); 
}
@font-face {
    font-family: Helvetica-Regular; 
    src: url(../res/fonts/HelveticaRegular/HelveticaRegular.ttf); 
} */

@font-face {
  font-family: Roboto-Light;
  src: url(../res/fonts/Roboto/Roboto-Light.ttf); 
}
@font-face {
  font-family: Roboto-Medium; 
  src: url(../res/fonts/Roboto/Roboto-Medium.ttf); 
}
@font-face {
  font-family: Roboto-Regular; 
  src: url(../res/fonts/Roboto/Roboto-Regular.ttf); 
}
@font-face {
  font-family: Roboto-Bold; 
  src: url(../res/fonts/Roboto/Roboto-Bold.ttf); 
}

body{
	background: #fbfbfb;
  margin: 0px;
}
