<div class="header">
  <!-- <div v-html="logo" class="app-logo"></div>

  <div class="header-separator"></div> -->

  <div class="header-menu-wrapper">

    <div class="header-menu-items">

    <div v-for="(item, index) in menu"
         v-on:click="change(index)"
         v-bind:class="[menuActiveItem == index ?
            'header-menu-item-active':'header-menu-item']">
        {{item}}
      </div>
    </div>

    <div class="header-menu-slider"
        v-bind:style="{ left: menuActiveItem*100 + 10*menuActiveItem  + 'px' }"
    ></div>

  </div>
  <settings-component/>

</div>