.dropbtn {
  background-color: #ffffff;
  color: $gray;
  // padding: 16px;
  font-size: 14px;
  width: 100px;
  text-align: left;
  // border: none;
  // display: inline;
  cursor: pointer;

  border: 1px solid $light-gray;
  border-radius: 2.5px;
  height: 23px;
  // background: #ffffff;
  // color: black;

}


.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 4px 5px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  // background-color: #3e8e41;

}

.dropbtn{
  
}