.settings-dead_zones-editor-body{
  width: 500px;
  height: 180px;
  overflow: hidden;
  background: rgba(235, 235, 235, 0.1);
  box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.settings-dead_zones-editor-up{
  margin:auto;
  // display: flex;
}

.dead_zones-editor-delete{
  width: 15px;
  height: 15px;
  margin-left: 10px;
  margin-top: 10px;
  fill: lighten($gray, 15);
  position: absolute;
  cursor: pointer; 
  transition: 0.2s ease-in-out;
}


.dead_zones-editor-delete:hover{
  fill: $light-gray;
}

.dead_zones-editor-delete-alert{
  position: absolute;
  color: $gray;
  font-size: 11px;
  margin-left: 30px;
  margin-top: 10px;
}

.settings-dead_zones-editor-down{
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}



.settings-dead_zones-editor-up-name{
  font-family: Roboto-Regular;
  font-size: 10px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.settings-dead_zones-editor-up-value{
  font-family: Roboto-Bold;
  font-size: 16px;
  margin-top: 10px;
  width: 50px;
  text-align: center;
  display: block;
  line-height: 0.5;
}

.settings-dead_zones-editor-up-input{
  width: 100px;
  margin: auto;
}

.settings-dead_zones-editor-up-input>span{
  font-size: 10px;
  color: $gray;
  margin-left: 35px;
}

.settings-dead_zones-editor-up-input>input{
  width: 100px;
  text-align: center;
  border: 0px;
  border-bottom: 1px solid $light-gray;
  background: rgba(235, 235, 235, 0.1);
  outline: none;
}

.settings-dead_zones-editor-switch-left,
.settings-dead_zones-editor-switch-right{

}

.settings-dead_zones-editor-switch-left{
  margin-left: -140px;
  top: -10px;
}

.settings-dead_zones-editor-switch-right{
  margin-right: -140px;
  top: -10px;
}

// Circles

.settings-dead_zones-editor-down_circle-left{
  position: relative;
  left: -115px;
  top: -20px;
}

.settings-dead_zones-editor-down_circle-right{
  position: relative;
  left: 115px;
  top: -20px;
}

// Circle Cursors

.settings-dead_zones-editor-down_circle-cursor-left,
.settings-dead_zones-editor-down_circle-cursor-right{
  width: 1px;
  height: 15px;
  background:lighten($gray,15);
  position: absolute;
  z-index: 999;
}

.settings-dead_zones-editor-down_circle-cursor-left{
  left: 180px;
    top: 47px;
    transform: rotate(240deg);
}

.settings-dead_zones-editor-down_circle-cursor-right{
  right: 180px;
  top: 47px;
  transform: rotate(120deg);
}